
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Evaluation.Models.Evaluation>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@{
    ViewBag.Title = "Department";

}



<h2>Department Overview</h2>
<h3>@ViewBag.Message</h3>


<p>
    <b>Professors</b> <br /><br />
    Dr. Rezvan Mezai  <br />
    Christopher Curwood <br />
    Dr. Mario Guimaraes <br /><br />
</p>

<div>
    <form method="get">

        <h3>Here are your results</h3>

        <!-- questions and answers in a table-->
        @foreach (var item in Model)
        {
            <table class="table">
                <caption>@Html.DisplayFor(modelItem => item.TeacherID)</caption>

                <tr>
                    <th>Effective Teaching</th>
                    <td>@Html.DisplayFor(modelItem => item.EffectiveTeaching)</td>
                </tr>
                <tr>
                    <th>Provides Feedback</th>
                    <td>@Html.DisplayFor(modelItem => item.ProvidesFeedback)</td>
                </tr>
                <tr>
                    <th>Learning Climate</th>
                    <td>@Html.DisplayFor(modelItem => item.learningClimate)</td>
                </tr>
                <tr>
                    <th>Demonstrates Knowledge</th>
                    <td>@Html.DisplayFor(modelItem =>item.DemonstrateKnowlege)</td>
                </tr>
                <tr>
                    <th>Professionalism</th>
                    <td>@Html.DisplayFor(modelItem =>item.professionalism)</td>
                </tr>
                <tr>
                    <th>Overall Ranking</th>
                    <td>@Html.DisplayFor(modelItem =>item.overAllRanking)</td>
                </tr>
            </table>
        }

    </form>
</div>
<p>
    <a href="~/Login">Back to Login Page</a>
</p>


